@model List<FileListViewModel>

@{
    ViewData["Title"] = "File List";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">File List</h2>
            <a id="addbutton" class="btn btn-primary" asp-controller="file" asp-action="upload">dosya yükle</a>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            Id
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            Uploaddate
                        </th>
                        <th>
                            Visibility
                        </th>
                        <th>
                            View Details
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.Id
                            </td>
                            <td>
                                @item.Name
                            </td>
                            <td>
                                @item.Description
                            </td>
                            <td>
                                @item.UploadDate.ToString("dd.MM.yyyy")
                            </td>
                            <td>
                                @item.Visibility
                            </td>
                            <td>
                                <a class="btn btn-info" asp-controller="File" asp-action="Details" asp-route-id="@item.Id">view</a>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <a asp-controller="File" asp-action="Download" asp-route-id="@item.Id" class="btn btn-success btn-sm">İndir</a>
                                }                                
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<style>
    #addbutton {
        position: relative;
        bottom: 10px;
        left: 80%;
    }
</style>